/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1d3f7;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center; /* Center align the content */
}
h1 {
    text-align: center;
    margin-top: 20px;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.project {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #ec5aef;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project img {
    width: 100%;
    border-radius: 5px;
}

.project h2 {
    margin-top: 10px;
    font-size: 20px;
}

.project p {
    margin-top: 10px;
    font-size: 16px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #efa5ea;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center the form content */
}
.name-section h2 {
    font-size: 24px;
    margin-bottom: 5px;
}

.name-section p {
    font-size: 18px;
    color: #666;
}

.education-section {
    margin-top: 30px;
}
label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Center align the buttons */
.contact-btn,
.back-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-btn:hover,
.back-btn:hover {
    background-color: #0056b3;
}
